body {
	background-color: rgb(240);
}


p {
	font-size: 20px;
}


#title {
	display: inline-block;
	text-align: center;
	margin-top: 25px;
	color: #97B91C;
	background: #E7FFFF;
	font-family: arial;
	font-size: 50px;
	letter-spacing: 2px;
	padding-left: 50px;
	
}

#tagline {
    display: inline-block;
	margin-top: 2px;
	color: #97B91C;
	background: #E7FFFF;
	font-family: arial;
	font-size: 30px;
	letter-spacing: 2px;
	text-align: center;
}

#banner {
	background-image: url(https://images.unsplash.com/photo-1518770352423-dce09a3d3307?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);
	background-size: cover;
	height: 100vh;
	padding: 25px;
	text-align: center;
}

#link {
    color: darkblue;
	text-align: center;
	font-size: 40px;
	padding-top: 35px;
}

.fa-gitlab {
	color: orange;
}

.fa-youtube {
	color: red;
}

.fa-instagram {
	color: yellow;
}


.img {
	display: block;
	margin-left:auto;
	margin-right: auto;

}

.small {
	font-size: 30px;
	font-weight: lighter;
	text-decoration: underline;
	text-align: center;
}


footer {
	font-size: 70px;
}

a:hover {
	color: #312922;
	font-size: 50px;
}


img:hover {
	transform: scale(2.5);
	align-content: center;


}

